html,
body,
header,
.view {
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
}

.Card{
  border-radius: 20px !important;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .carousel-item {
  height: 100%;
}

.carousel-caption {
  top: 0;
  padding-top: 7% !important;
}

.col{
  padding-right: 0px !important ; 
  padding-left: 0px !important;
}


.btn-secondary {
  background-color: transparent !important;
}

.card-title {
  color: black;
}

.card-body {
  padding: 0.5rem !important;
}

.card-text {
  margin-bottom: 30px !important;
  font-size: 30px;
}

.dropdown-menu.show {
  padding-left: 10px;
}

.dropdown-menu {
  width: 200px;
  padding-right: 0px;
  padding-top: 0px;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}